table#arena_space {
    /* border: 1px dashed black; */
}
.center {
    text-align: center;
}

table#arena_space td {
    /* padding: 10px; */
}

.right_open {
    border-top: 2px solid black;
    border-left: 5px  double black;
    border-bottom: 5px  double black;
}

.left_open {
    border-top: 2px solid black;
    border-right: 5px  double black;
    border-bottom: 5px  double black;
}
.car {
    max-width: 50px;
}

td  {
    padding: 0px;
}
.right_top_curve {
    /* border-right: 3px solid black;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    /* border-radius: 0 50% 0 0; */
    /* margin-top: -10px; */
    /* padding: 10px !important; */

    width:40px;
    background: linear-gradient(to top right, #fff calc(50% - 5px), black, #fff calc(50% + 5px) )
}

.right {
    border-right: 3px solid black;
}

.nopadding .nomargin {
    padding: 0px !important;
    margin: 0px !important;
}


.red {
    background: red;
    /* color: red; */
}

.blue {
    background: blue;;
}

.green {
    background-color: #0f0;
}
.box {
    width: 200px;
    /* border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%; */
    border: 4px solid black;
    text-align: center;
}

.clock {
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    /* transform: translateX(-50%) translateY(-50%); */
    color: #17D4FE;
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 7px;
    font-weight: bolder;
}

.table_car_color {
    /* background: red; */
    padding: 5px;
}